.NewUserWelcome {

  font-family: $base-family;

  &.container {

    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border: 1px solid black;
    width: 250px;
    height: 400px;
  }

  &.logo {

    margin-top: auto;
    width: 40px;
    height: 40px;
  }

  &.welcomeMessage {
    margin-top: 25px;
  }

  %button {
    width: 190px;
    height: 40px;
    font-size: small;
    border: none;
    outline: none;
    box-shadow: 0px 2px #F6F6F6;
    background-color: #5DD0C2;
  }

  &.createAccountButton {

    margin-top: 35px;
    margin-bottom: 15px;
    @extend %button;
  }

  &.importAccountButton {

    @extend %button;
  }

  &.version {

    color: #118476;
    justify-content: flex-end;
    margin-top: auto;
  }
}