.ImportAccount {

  &.container {

    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border: 1px solid black;
    width: 250px;
    height: 400px;
  }
}