@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,600,800');

// Font weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 800;
$black: 900;

$base-family: 'Work Sans', Helvetica, Arial, sans-serif;
