@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,600,800');

// Font weights
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 800;
$black: 900;

$defaultFont: 'Work Sans', Helvetica, Arial, sans-serif;



@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

$monospaceFont: 'Roboto Mono', monospace;