.NewUserComponent {

  font-family: $defaultFont;
  color: #002A1C;

  &.container {

    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border: 1px solid black;
    width: 250px;
    height: 400px;
  }

  &.logo {

    margin-top: auto;
    width: 40px;
    height: 40px;
  }

  &.welcomeMessage {

    margin-top: 25px;

    // didn't have to add this for "npm run start", but deployed script needed it
    // TODO -- find out why

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
  }

  %button {
    width: 190px;
    height: 40px;
    font-size: small;
    border: none;
    outline: none;
    box-shadow: 0px 2px #F6F6F6;
    background-color: #5DD0C2;
  }

  &.createAccountButton {

    margin-top: 35px;
    margin-bottom: 15px;
    @extend %button;
  }

  &.importAccountButton {

    @extend %button;
  }

  &.version {

    color: #5DD0C2;
    margin-top: auto;
    margin-bottom: 15px;

    // TODO -- see above
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
  }
}